.text-muted{
  text-align: justify;
}
.custom-switch{
  color: #333;
  margin: 8px 5px;
  font-weight: 400;
  font-size: 0.95em;
}
.custom-back{
  background-color: #000 !important;
  color: #fff !important;
  .post h3 {
    color: #fff !important;
  }
}
